.footer {
    background-color: #2f303a;
    margin-top: 0;
  
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-content {
    text-align: center;
    width: 100%;
    @media screen and(min-width:$desktop) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      text-align: left;
    }
  }
  .footer-tablet {
    @media screen and(min-width:$tablet) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
  }
  .footer .footer-logo {
    color: $heroTextColor;
  }
  .footer-address {
    color: $heroTextColor;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  
    display: flex;
    flex-direction: column;
  
    @media screen and(min-width:$desktop) {
      margin-bottom: 9px;
    }
  }
  .address {
    .footer-address {
      margin-right: 70px;
    }
  }
  .footer-mail {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
    @media screen and(min-width:$desktop) {
      margin-bottom: 9px;
    }
  }
  .footer-tel {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    @media screen and(min-width:$desktop) {
      margin-bottom: 0;
    }
  }
  
  .link-header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $heroTextColor;
    margin-bottom: 20px;
  }
  .footer-card {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    --color1: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-icon {
    width: 20px;
    height: 20px;
  }
  
  .footer-card:hover,
  .footer-card:focus {
    fill: rgb(33, 150, 243);
    --color1: #ffffff;
    background-color: rgba(33, 150, 243, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* ====Footer form===== */
  .footer-form {
    text-align: center;
    align-items: center;
    @media screen and(min-width:$desktop) {
      display: flex;
      align-items: flex-end;
      text-align: start;
    }
  }
  .footer-form-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 13px;
  
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-top: 20px;
    @media screen and(min-width:$desktop) {
      display: flex;
    }
  }
  .footer-form-button::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/telegram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    color: #ffffff;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  
    align-items: center;
  }
  .form-label {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $heroTextColor;
  
    margin-bottom: 20px;
    // @media screen and(min-width:$desktop) {
  
    // }
  }
  .form-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    min-width: 358px;
    min-height: 50px;
    font-family: Roboto, sans-serif;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    align-items: center;
  }
  .link-footer {
    @media screen and(min-width:$desktop) {
      margin-left: 70px;
    }
  }