.address {
    color: $primaryTextColor;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    vertical-align: bottom;
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
  
    &:hover,
    &:focus {
      color: $accentColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  /*  ======Mobile and desctop nav===== */
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    @media screen and(min-width:$tablet) {
      display: none;
    }
  }
  
  .menu-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .icon-burger-menu {
      display: none;
    }
  
    &.is-open .icon-burger-menu {
      display: block;
    }
    &.is-open .icon-close-menu {
      display: none;
    }
    &:hover,
    &:focus {
      fill: $accentColor;
    }
  }
  
  .nav-mobile-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 796px;
    z-index: 3;
    color: black;
    background: $heroTextColor;
    &.is-open {
      display: block;
    }
  }
  .mobile-nav-elements {
    font-family: Roboto;
    @include font-size(500, 40px, 47px);
    letter-spacing: 0.02em;
    margin-top: 48px;
    margin-left: 40px;
    .item {
      margin-bottom: 32px;
    }
    .link {
      color: $titleTextColor;
      &:hover,
      &:focus,
      &.current {
        color: $accentColor;
      }
    }
  }
  .mobile-address-nav {
    margin-top: 302px;
    margin-left: 40px;
    .item {
      margin-bottom: 32px;
      .phone {
        @include font-size(500, 34px, 40px);
        color: $accentColor;
      }
      .address {
        @include font-size(500, 24px, 30px);
        color: $primaryTextColor;
      }
    }
  }
  .social-links {
    display: flex;
    margin-left: 40px;
    @include font-size(500, 18px, 22px);
    .item {
      .item-link {
        color: $accentColor;
      }
  
      padding-right: 10px;
      &:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }
  
  /*  ======Main nav===== */
  .main-nav {
    display: none;
    @media screen and(min-width:$tablet) {
      display: flex;
      align-items: center;
    }
  }
  .portfolio-border {
    border-bottom: 1px solid #ececec;
  }
  /* =====site nav===== */
  .icon-nav {
    margin-right: 10px;
    fill: currentColor;
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .site-nav {
    display: flex;
    margin-left: 93px;
  
    .link {
      display: block;
      padding-bottom: 30px;
      padding-top: 30px;
  
      color: $titleTextColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-decoration: none;
  
      position: relative;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &::after {
        content: '';
        display: block;
        width: 100%;
        background: $accentColor;
        border-radius: 2px;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .site-nav .link:hover::after,
  .site-nav .link:focus::after,
  .site-nav .current::after {
    opacity: 1;
  }
  .site-nav .link:hover,
  .site-nav .link:focus,
  .site-nav .current {
    color: $accentColor;
  }
  
  /* ====Address nav===== */
  .address-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    @media screen and(min-width:$desktop) {
      display: flex;
      flex-direction: row;
      margin-left: auto;
    }
    .item + .item {
      @media screen and(min-width:$desktop) {
        margin-left: 50px;
      }
    }
  }