.title {
    color: $heroTextColor;
    letter-spacing: 0.06em;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      // 961dp1-1x
      // 115dpi-1.2x
      //192dpi-2x
      //288dpi-3x
      url('../images/hero-background-mobile.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-background-mobile@2x.jpg');
    }
    @media screen and (min-width: $tablet) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-background-tablet.jpg');
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-background-tablet@2x.jpg');
    }
    @media screen and (min-width: $desktop) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-background.jpg');
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero-background-img@2x.jpg');
      }
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .section-title-primary {
    color: $titleTextColor;
    text-align: center;
    @include font-size(700, 28px, 33px);
    margin-top: 0;
    margin-bottom: 50px;
  
    @media screen and (min-width: $desktop) {
      @include font-size(700, 36px, 42px);
    }
  }
  .section-title-secondary {
    color: $titleTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  
    margin-top: 0;
    margin-bottom: 10px;
  }
  .section-title-portfolio {
    color: $titleTextColor;
    font-size: 18px;
    line-height: 2;
  
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .hero-title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    text-transform: uppercase;
    @include font-size(900, 26px, 42px);
  
    @media screen and (min-width: $desktop) {
      @include font-size(900, 44px, 60px);
    }
  }
  .team-section {
    background: #f5f4fa;
    padding-top: 60px;
    @media screen and (min-width: $desktop) {
      padding-top: 94px;
    }
  }
  .works-title {
    color: $titleTextColor;
    text-align: center;
    @include font-size(700, 36px, 42px);
    color: $titleTextColor;
    text-align: center;
  
    @media screen and (min-width: $mobile) {
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
    @media screen and (min-width: $tablet) {
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  }