.hidden-true {
    display: none;
  
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
  .primary-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 94px;
  
    .item {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc(100% / 3 - 30px);
    }
  }
  .primary-thumb {
    position: relative;
  }
  .label {
    position: absolute;
  
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(47, 48, 58, 0.8);
  
    width: 100%;
    height: 70px;
    bottom: 0;
    right: 0;
    margin: 0;
    padding-top: 27px;
  }